@charset "utf-8";/*theme*/
@media (min-width:1200px){[class*="container"]{width:1024px}
[class*="container"][class*="max"],[class*="container"][class*="max"] [class*="container"]{width:1024px}
}
body{font:14px "HelveThaiCa";padding-top:200px;background:url(../img/bg.jpg) 50% 0 repeat-x;color:#777}
body.home{background:#fff;padding-top:0}
a{color:#777}
h1,h2,h3,h4,h5,h6{font-family:"HelveThaiCa"}
#header{position:fixed;top:0;left:0;right:0;background:rgba(0,0,0,0.45)/*background:rgba(255,255,255,0.2)*/;margin-bottom:0;padding-bottom:0;min-height:inherit;z-index:99}
/*[class*="home"] #header{background:rgba(0,0,0,0.45)}#header+#toc:before{content:"";display:block;position:fixed;top:0;left:0;right:0;height:88px;background:url(../img/bg.jpg) 50% 0 repeat-x;z-index:3}[class*="home"] #header+#toc:before{display:none}*/
#header+#toc{padding-top:30px}
[class*="home"] #header+#toc{padding-top:0}
#header>.container{position:relative;padding-left:0;padding-right:0;padding-bottom:0}
[id="header"] [class="logo"] img{background:none;padding:0}

@media (min-width:769px){[id="navigation"]{position:absolute;top:30px;left:auto;right:0;background:none}
[class*="top-nav"]>ul>li>a:before{content:"";display:inline-block;width:2px;height:16px;margin:0 20px 0 7px;background:#fff;vertical-align:middle}
[class*="top-nav"]>ul>li:first-child>a:before{display:none}
[class*="top-nav"]>ul>li>a:hover,[class*="top-nav"]>ul>li:hover>a{color:#0F7067;text-shadow:0 0 2px rgba(0,0,0,0.15)}
}
[class*="btn-nv-m"]{display:none;right:auto;left:0}
[class*="btn-nv-m"]>a.b-ex{background:rgba(255,255,255,0.1)}
#header .btn-nv-m>a.active{box-shadow:0 0 6px 5px rgba(0,0,0,0.2) inset;background-color:rgba(0,0,0,0.15)}
#header .btn-nv-m>a.active:after{content:"";display:block;position:fixed;top:0;height:100vh;left:0;bottom:0;right:0;background:transparent;z-index:-1}
body.expand{overflow:hidden}
#header,#toc,#footer,#navigation,body>*{-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.expand #header,.expand #toc.main,.expand #footer{-webkit-transform:translateX(250px);transform:translateX(250px)}
[class*="top-nav"]>ul>li>a{font:18px/30px "HelveThaiCa";text-shadow:0 0 2px rgba(0,0,0,0.75)}
[class*="top-nav"]>ul{box-shadow:none;-webkit-box-shadow:none}
[class*="top-nav"]>ul>li>a:hover,[class*="top-nav"]>ul>li:hover>a{background:none;box-shadow:none;border:none;margin:0}
[class*="top-nav"]>ul>li #btn-profile{display:block;margin-top:-10px}
[class*="top-nav"]>ul>li #btn-profile.active:after{content:"";display:block;position:fixed;top:0;left:0;right:0;bottom:0;height:100vh;background:rgba(0,0,0,0.05);z-index:-1}
[class*="top-nav"]>ul>li #btn-profile img{border:2px solid #1dabb0;border-radius:5em;-webkit-border-radius:5em}
[class*="top-nav"]>ul>li #btn-profile i[class*="fa-"]{display:inline-block;width:24px;height:24px;font-size:24px;font-weight:700;line-height:24px;color:#1dabb0}
[class*="top-nav"]>ul>li ul{top:58px;left:auto;right:0;background:#212c31;border:none;width:260px}
[class*="top-nav"]>ul>li ul>li{padding:0 15px}
[class*="top-nav"]>ul>li ul>li:hover{background:#1a2226;box-shadow:4px 0 0 #1dabb0 inset}
[class*="top-nav"]>ul>li ul>li>a{position:relative;display:block;padding:10px 0;font:14px/25px "HelveThaiCa";border-bottom:1px solid #313b40;color:#fff}
[class*="top-nav"]>ul>li ul>li>a:hover{background:none}
[class*="top-nav"]>ul>li ul>li>a i{font-size:16px;display:inline-block;margin-right:10px}
[class*="top-nav"]>ul>li ul>li>a em{display:block;position:absolute;top:50%;right:0;margin-top:-8px;width:16px;height:16px;text-align:center;color:#fff;font:10px/16px Arial;background:#1dabb0;border-radius:5em;-webkit-border-radius:5em}

@media (max-width:768px){[class*="btn-nv-m"]{display:block}
#navigation{position:fixed;top:0;bottom:0;height:100vh;background:none;left:-250px!important;width:250px;z-index:905}
[id="navigation"] [id="nav-drop"] li{border-bottom:1px solid rgba(255,255,255,0.3);border-top:1px solid rgba(0,0,0,0.1)}
#navigation #nav-drop{position:absolute;top:0;left:0;width:250px;border:0;height:100%;overflow:auto;background:#16b1ad;text-align:left;opacity:1}
[class*="top-nav"] li a,[class*="top-nav"]>ul>li>a:hover,[class*="top-nav"]>ul>li:hover>a{color:#fff}
[id="navigation"] [id="nav-drop"] li a{line-height:35px;padding:10px}
[id="navigation"] [id="nav-drop"] li a:selected,[id="navigation"] [id="nav-drop"] li a.active{color:#fff}
}
body.expand #nav-drop{box-shadow:2px 0 3px rgba(0,0,0,0.5);padding:0}
/*home*/
[class^="ic-"]{display:inline-block;width:110px;height:110px;background:url(../img/ic-work1.png) 50% 50% no-repeat;background-size:cover;border-radius:10em;-webkit-border-radius:10em;border:4px solid #15a29b}
[class^="ic-work1"]{width:155px;height:155px;background-image:url(../img/ic-work1.png)}
[class^="ic-work2"]{width:155px;height:155px;background-image:url(../img/ic-work2.png)}
[class^="ic-work3"]{width:155px;height:155px;background-image:url(../img/ic-work3.png)}
[class^="ic-work4"]{width:155px;height:155px;background-image:url(../img/ic-work4.png)}
[class^="ic-sell1"]{background-image:url(../img/ic-sell1.png)}
[class^="ic-sell2"]{background-image:url(../img/ic-sell2.png)}
[class^="ic-sell3"]{background-image:url(../img/ic-sell3.png)}
[class^="ic-sell4"]{background-image:url(../img/ic-sell4.png)}
[class^="ic-invest3"]{background-image:url(../img/ic-invest3.png)}
[class^="ic-invest3"]{background-image:url(../img/ic-invest4.png)}
.home .main>[id^="sec"]{background-position:50% 0;background-repeat:no-repeat;background-size:cover}
.home .main>[id^="sec"] .container{text-align:center}
[id^="sec"] .head{position:relative;color:#777;font-size:2vmax;line-height:2vmax;padding-bottom:10px;margin:0 0 25px;text-transform:uppercase}
[id^="sec"] .head:after{content:"";display:block;position:absolute;left:50%;width:95px;margin-left:-47.5px;bottom:-3px;border-bottom:3px solid #15a79d}
[id^="sec"][class*="dark"] .head{color:#fff}
[id^="sec"] .title{margin-bottom:20px}
@media (min-width:1024px){[class*="home"] [id^="sec"]>.container:first-child{min-height:60vh;padding-top:20vh}
[id="sec-register"] form p .txt-box,[id="sec-register"] form p .select-box{padding-top:10px;padding-bottom:10px}
[id="sec-work"]>.container{overflow:hidden}
[id^="sec-"] .list-work>li{transition:.3s all ease-in;-webkit-transition:.3s all ease-in}
[id^="sec-work"] .list-work>li{position:relative;top:100%;opacity:0}
[id^="sec-work"] .list-work>li:nth-child(1),[id^="sec-work"] .list-work>li:nth-child(2){left:-50%}
[id^="sec-work"] .list-work>li:nth-child(3),[id^="sec-work"] .list-work>li:nth-child(4){left:50%}
[id="sec-work"].animate .list-work>li{top:0;left:0;right:0;opacity:1}
}
[id="sec-register"]{padding-top:88px;background-image:url(../img/bg-home1.jpg);background-attachment:fixed}
[class*="home"] [id="sec-register"]>.container:first-child{padding:20vh 0;min-height:768px}
[id="sec-register"] h2{color:#fff;font-size:2.8vmax}
[id="sec-register"] h2 big{display:block;font-size:4vmax;margin-top:-5px}
[id="sec-register"] form{width:590px;max-width:95%;margin:0 auto}
[id="sec-register"] form p .txt-box,[id="sec-register"] form p .select-box{width:100%;max-width:100%;background:rgba(255,255,255,0.75)}
[id="sec-register"] form p .cv-select{width:100%}
[id="sec-register"] form p [class*="ui-btn"]{margin-top:30px;min-width:250px;padding:15px 20px}
.cv-select .select-box{padding:5px 18px 5px 5px;margin:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;color:#888;outline:none;display:inline-block;-webkit-appearance:none;-moz-appearance:none;appearance:none;cursor:pointer;line-height:35px}/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
[id="sec-slide"]{}
.slide-pro .slides{}
.slide-pro .slides>li{}
@media (min-width:1170px){.slide-pro .slides>li .container{width:auto;margin:0 auto;padding:0}}
.slide-pro .slides>li a{display:block;position:relative}
.slide-pro .slides>li a>img{display:block;margin:0 auto;max-width:100%}
.slide-pro .slides>li a>div{position:absolute;bottom:-100%;left:10px;text-align:center;width:40%;padding:20px;background:rgba(255,255,255,0.5);font:3.5vmax/4vmax "HelveThaiCa";color:#333;transition:.3s all ease .5s;-webkit-transition:.2s all ease .5s; box-shadow:0 2px 5px rgba(0,0,0,0.3)}
.slide-pro .slides>li a>div.text-c{left:50%;margin-left:-20%}
.slide-pro .slides>li a>div.text-r{left:auto;right:10px;text-align:right}
.slide-pro .slides>li a>div.top{top:-50%;bottom:auto}
.slide-pro .slides>li a>div.mid{top:-50%;bottom:auto;transform:translate(0,-50%);-webkit-transform:translate(0,-50%);}
.slide-pro .slides>li.flex-active-slide div{bottom:10px}
.slide-pro .slides>li.flex-active-slide div.top{top:10px;}
.slide-pro .slides>li.flex-active-slide div.mid{top:50%;}
.slide-pro .slides>li a>div>:first-child{margin:0 0 10px; line-height:normal}
.slide-pro .slides>li a>div>p{font-size:16px;line-height:18px;color:#555}

@media screen and (-webkit-min-device-pixel-ratio:0){.cv-select .select-box{padding-right:18px}
}
.cv-select{display:inline-block;position:relative}
.cv-select:before,.cv-select:after{content:"";display:block;pointer-events:none;position:absolute;right:6px;border-left:5px solid transparent;border-right:5px solid transparent}
.cv-select:before{border-bottom:7px solid #333;bottom:54%;margin-top:-2px;z-index:9}
.cv-select:after{border-top:7px solid #333;top:54%;margin-bottom:-2px}
[id="sec-list-rec"]{background-image:url(../img/bg-home1.jpg);background-attachment:fixed;overflow:hidden}
[id="sec-work"]{background:#fff}
[class*="home"] [id="sec-work"]>.container:first-child,[class*="home"] [id="sec-list-rec"]>.container:first-child{padding:4vh 0}
[id^="sec-"] .list-work{padding-top:15px}
[id^="sec-"] .list-work>li>a{text-decoration:none;color:#777}
[id^="sec-"] .list-work>li>a>i{display:block;margin:0 auto 15px;transition:.3s all ease-in-out;-webkit-transition:.3s all ease-in-out}
[id^="sec-"] .list-work>li>a>h3{margin:0 0 10px;color:#505050}
[id^="sec-"] .list-work>li>a:hover>h3{text-decoration:underline}
[id^="sec-"] .list-work>li>a>p{font-size:16px;line-height:25px}
[id="sec-sell"],[id="sec-invest"]{color:#fff}
[class*="home"] [id="sec-sell"]>.container:first-child,[class*="home"] [id="sec-invest"]>.container:first-child{padding-bottom:20vh}
.home .main>[id="sec-sell"]{background-image:url(../img/bg-home2.jpg);background-size:100% auto;transition:4s all linear 0.2s;-webkit-transition:4s all linear}
.home .main>[id="sec-sell"]:hover,.home .main>[id="sec-sell"]:focus,.home .main>[id="sec-sell"]:active{background-size:120% auto}
[id="sec-invest"]{background-image:url(../img/bg-home3.jpg);background-attachment:fixed}
[id="sec-contact"]{text-align:center}
[class*="home"] [id="sec-contact"]>.container:first-child{padding-top:4vh;min-height:inherit}
[id="sec-contact"] .img-map{position:relative;display:inline-block;max-width:100%;margin:0 auto 20px;overflow:hidden;border:3px solid #fff;background:#fff;box-shadow:0 0 0 1px #92928f;padding:0}
[id="sec-contact"] .img-map img{position:relative;min-height:250px}
[id="sec-detail"] .img-map img{max-width:100%}
[id="sec-detail"] .img-map address{position:relative;margin:5px 0 0;font:14px/20px "HelveThaiCa"}
[id="sec-contact"] .img-map address{position:absolute;top:15%;left:55%;width:350px;background:rgba(0,0,0,0.4);color:#fff;padding:20px;font:16px/25px "HelveThaiCa";text-align:left}
[id*="sec-"] .img-map address b{font-weight:100;font-size:21px;display:block}
[id="sec-contact"] .img-map address a{color:#fff}
[id="sec-contact"] .txt-area{min-height:146px}
/*contents*/
[id="toc"]{z-index:inherit}
[id*="sec-"]{position:relative;clear:both}
[id*="sec-"]:last-child{margin-bottom:0}
[id="sec-infomation"] .list-work>li>a{text-align:center}
[id="sec-infomation"] .list-work>li:after{content:"";display:block;width:40px;height:45px;background:url(../img/bg-arrow-step.png) 50% 50% no-repeat;position:absolute;top:20%;right:0;margin-right:-20px}
[id="sec-infomation"] .list-work>li:last-child:after{display:none}
[id="sec-infomation"] .list-work>li>a>i{display:block;margin:0 auto 15px}
.sec-acc .pane>ul>li{margin-bottom:30px}
.sec-acc .pane>ul>li:last-child{margin-bottom:0}
.sec-acc .pane>ul>li h3{margin:0 0 10px;color:#505050}
.sec-acc .pane .list-bullet{padding-left:50px}
.sec-acc .pane .list-bullet>li{position:relative;font-size:19px;line-height:25px;margin-bottom:5px}
.sec-acc .pane .list-bullet>li:before{content:"";display:block;position:absolute;left:-20px;top:8px;width:8px;height:8px;background:#00837c;border-radius:.1em;-webkit-border-radius:.1em}
.sec-acc .pane .list-bullet>li.none:before{display:none}
.about .row>div>h3{margin:5px 0 15px}
.about .row>div>p>big{font-size:21px;line-height:25px}
.call{margin-top:15px}
.call a{color:#149e97;font:700 24px/30px "HelveThaiCa"}
.call a i[class*="fa-"]{display:inline-block;width:25px;height:25px;color:#fff;background:#767676;text-align:center;line-height:25px;font-size:16px;border-radius:5em;-webkit-border-radius:5em;vertical-align:top}
/*ui-btn*/
[class*="ui-btn"]{padding:10px 20px;background:rgba(21,161,155,0.85);border:none;text-align:center;color:#fff;font:21px/25px "HelveThaiCa";min-width:150px;max-width:100%;border-radius:.1em;-webkit-border-radius:.1em}
input[class*="ui-btn"]{-webkit-appearance:none;-moz-appearance:none;appearance:none}
[class*="ui-btn"]:hover,a[class*="ui-btn"]:focus{color:#fff;opacity:1}
[class*="ui-btn"][class*="-mini"]{padding:3px 10px;font-size:18px;min-width:inherit}
[class*="ui-btn"][class*="-tsmall"]{font-size:16px}
[class*="ui-btn"][class*="-full"]{width:100%}
[class*="ui-btn"][class*="-white"]{background:#fff;color:#333}
[class*="ui-btn"][class*="-black"]{background:#333}
[class*="ui-btn"][class*="-yellow"]{background:#f6bb43;color:#fff}
[class*="ui-btn"][class*="-red"]{background:#e52435;color:#fff}
[class*="ui-btn"][class*="-gray"]{background:#505050}
[class*="ui-btn"][class*="-gray2"],[class*="ui-btn"][class*="-loadmore"]{background:#f1f1f1;color:#3b3b3b;border:1px solid #cecece}
[class*="ui-btn"][class*="-gray2"] a,[class*="ui-btn"][class*="-loadmore"] a{display:block;text-decoration:none;color:#3b3b3b}/*form*/
::-webkit-input-placeholder{color:#777}
:-moz-placeholder{color:#777}
::-moz-placeholder{color:#777}
:-ms-input-placeholder{color:#777}
form,fieldset{padding:0;margin:0}
legend{border:none;margin-bottom:0}
.txt-box,.select-box,.txt-area,.input-txt,.select-sq{position:relative;display:inline-block;padding:5px;background:#fff;border:1px solid #989896;font:16px/30px "HelveThaiCa";color:#333;border-radius:.1em;-webkit-border-radius:.1em}
.trans,.input-txt{background-color:transparent;border-color:transparent}
.txt-area{resize:vertical}
label{font-weight:100}
.imageBased input[type=checkbox]:not(old),.imageBased input[type=radio]:not(old){height:100%;margin:0;padding:0;opacity:0;position:absolute;top:0;left:0}
.imageBased input[type=checkbox]:not(old) + label,.imageBased input[type=radio]:not(old) + label{position:relative;display:inline-block;padding-left:30px;line-height:20px;cursor:pointer;margin-bottom:0}
.imageBased input[type=checkbox]:not(old) + label:before,.imageBased input[type=radio]:not(old) + label:before{position:absolute;top:-3px;left:0;bottom:0;content:"";display:block;margin-left:0;width:28px;height:24px;background:url("../img/checks.png") no-repeat 0 1px}
.imageBased2 input[type=checkbox]:not(old):checked + label:before{background-position:0 -23px}
.imageBased input[type=radio]:not(old):checked + label:before,.imageBased input[type=checkbox]:not(old):checked + label:before{background-position:0 -47px}
/*.check-keep.imageBased input[type=checkbox]:not(old) + label,.check-keep.imageBased input[type=radio]:not(old) + label{padding-bottom:0;padding-left:30px;cursor:pointer;margin-bottom:0}.check-keep imageBased input[type=checkbox]:not(old) + label:before,.check-keep.imageBased input[type=radio]:not(old) + label:before{left:0;top:-3px;margin-left:0}*/
#toc .c-red{color:#f00}
#toc .c-black{color:#000}
#toc .c-white{color:#fff}
#toc .c-gray{color:#999}
#toc .c-green{color:#15a29b}
/*accordion*/
.sec-acc>li{position:relative;clear:both;border-bottom:1px solid #dcdcdc;padding:20px 0}
.AC3,.h-acc,.h-fix{position:relative;margin:0;font:24px/30px "HelveThaiCa";padding-right:40px;color:#149e97;cursor:pointer}
.h-acc>span,.h-fix>span{display:inline-block;font-size:18px;color:#777}
.AC3>i[class*="fa-chevron"],.h-acc>i[class*="fa-chevron"],.h-fix>i[class*="fa-chevron"]{display:block;width:40px;height:40px;position:absolute;top:50%;right:0;margin-top:-20px;text-align:center;font-size:21px;line-height:32px;color:#149e97;border:4px solid #149e97;border-radius:5em;-webkit-border-radius:5em}
.AC3>i[class*="fa-"]{display:inline-block;font-size:32px;width:38px;line-height:32px;color:#149e97}
.AC3.current>i[class*="fa-chevron"],.h-acc.active>i[class*="fa-chevron"],.h-fix.active>i[class*="fa-chevron"]{transform:rotate(90deg);-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg)}
.accordion .AC3{padding:10px;border-bottom:1px solid #dcdcdc;color:#777;font-size:18px}
.accordion .AC3.current{border-bottom:none;color:#149e97}
.accordion .pane,.sec-acc .pane{display:none;position:relative}
.accordion .pane.show,.sec-acc .pane.show{display:block!important}
.sec-acc .pane{border-top:1px solid #dcdcdc;margin-top:20px;padding:20px 20px 0}
.accordion .pane{border:1px solid #dcdcdc;padding:20px;margin-left:50px;margin-bottom:20px;border-radius:0 2em 2em 2em;-webkit-border-radius:0 2em 2em 2em}/*detail*/
.main-info .info:after,.main-info .info .value p:after,.info .ctrl-btn:after,.list-archive>*>.skin:after,.list-archive>*:after{content:"";display:block;clear:both}
[class*="topic"]{position:relative;margin:0 0 20px;font:30px/35px "HelveThaiCa"}
[class*="topic"] [class*="fa-"]{display:inline-block;margin-left:5px}
[class*="topic"] .h-line{position:relative;display:inline-block;padding:10px 0}
[class*="topic"] .h-line[class*="small"]{font-size:24px}
[class*="topic"] .h-line:after{content:"";display:block;position:absolute;bottom:0;left:0;right:0;border-bottom:3px solid #15a79d}
[class*="topic"] .list-all{display:inline-block;margin-left:15px;font-size:14px}
[class*="topic"] .list-all span{color:#15a79d}
[class*="header"]{font:21px/30px "HelveThaiCa";color:#15a79d;margin:0 0 20px;padding:0 0 10px;border-bottom:1px solid #dcdcdc}
[class*="header"]>a{color:#15a79d;text-decoration:none}
[class*="header"]>span:first-child,[class*="header"]>a>span:first-child{color:#777}
.main-info{margin-bottom:20px}
.main-info .gallery{position:relative;margin-top:-10px}
[id*="sec-"] .great:after{position:absolute;top:-5px;right:-5px;content:"";display:block;width:154px;height:154px;max-width:30%;background:url(../img/ic-great-deal.png) 50% 0 no-repeat;background-size:100% auto}
.main-info .info{font-size:18px;line-height:25px}
[id*="sec-"] .info em{font-style:normal}
.main-info .info .list>li{margin-bottom:5px}
.main-info .info .list>li>strong,.main-info .info .value strong,.list-archive .info>.list>li>strong,.list-archive .info .value strong{display:inline-block;min-width:150px;float:left;font-weight:100}
.main-info .info .list>li>span{display:block;overflow:hidden;color:#363636}
[id*="sec-"] .info .value{margin-top:40px}
[id*="sec-"] .info .value p{position:relative;clear:both}
[id*="sec-"] .info .value em{display:inline-block;float:right}
[id*="sec-"] .info .value em big{color:#149e97}
[id*="sec-"] .info .value .ctrl-btn{text-align:center;width:100%;margin-top:20px;padding:0}
.value .ctrl-btn>a{display:inline-block;float:right}
.value .ctrl-btn>.btn-investment{display:inline-block;float:none;margin-bottom:10px;max-width:100%;padding:8px 20px;background:url(../img/bg-gradius.png) 50% 0 repeat-y;background-size:100% auto;color:#2e2e2e;font:18px "HelveThaiCa";border:none;border-radius:.5em;-webkit-border-radius:.5em;box-shadow:0 2px 2px rgba(0,0,0,0.7),0 2px 5px rgba(0,0,0,0.3)}
.z-profile .value .ctrl-btn>.btn-investment{font-size:16px}
.table-responsive table{min-width:640px;color:#5d5d5d;max-width:100%;font-size:18px}
table[class*="table"]>thead>tr>th{text-align:center;vertical-align:middle;font-weight:100}
.table-responsive table [bgcolor*="#149e97"]>*,.table-responsive table [bgcolor*="#9c9c9c"]>*,.table-responsive table [class*="c-white"]>*{color:#fff}
.list-detail dl{font-size:18px}
.list-detail dl dt{color:#4d4d4d}
.list-detail dl dt h3{font-size:21px}
.list-detail dl dd{margin-bottom:15px;padding-left:15px;color:#838383}
.list-detail dl dd label{display:block!important}
.list-detail .box-line{display:inline-block;padding:0 30px;border-bottom:1px solid #aeaeae;color:#4d4d4d}
.list-detail .box-line[class*="self"],.list-detail [class^="box"][class*="self"]{float:none}
.list-detail [class^="box"][class*="self"]{display:inline-block}
.point-gps>*[class*="btn"][class*="-default"]{background:#efefef;font-size:21px}
.point-gps>*.hd[class*="btn"][class*="-default"]{background:#149e97;color:#fff}/*archive*/
[id="sec-archive"]{position:relative}/*sort*/
.sort-bar{position:absolute;top:20px;right:0;line-height:30px}
.sort-bar>*{display:inline-block;vertical-align:top;font-size:14px;font-weight:100;color:#6d6f71;margin-left:15px}
.sort-bar>.sort>*,.sort-bar>.sort-layout>span{margin:0;line-height:30px;vertical-align:top}
.sort-bar>.sort>select{background:#fff;width:160px;height:30px;padding:2px;font-size:13px;line-height:30px;border:1px solid #e9e9e9}
.sort-bar>.sort-layout>span{display:inline-block}
.sort-bar>.sort-layout>a{display:inline-block;text-align:center;line-height:30px;margin-left:10px}
.sort-bar>.sort-layout>a>i{display:inline-block;font-size:24px;line-height:30px;color:#adadad}
.sort-bar>.sort-layout>a.selected>i{color:#149e97}
.list-archive{position:relative;clear:both}
.list-archive>*{margin-bottom:40px}
.list-archive>*>.skin{position:relative;background:#fefefe;padding:15px;box-shadow:0 0 2px rgba(0,0,0,.3)}
.list-archive figure{width:33%;float:left}
.list-archive figure img{width:100%;height:auto;max-width:100%;padding:2px;background:#fff;border:1px solid #d9d9d9}
.list-archive figure.great:after{max-width:50%;left:33%;right:auto;top:auto;bottom:-15px;margin-left:-90px}
.list-archive .info{width:66%;float:left;padding:0 0 30px 20px}
.list-archive .info .header{font-size:21px;border-bottom:none;margin-bottom:8px;padding-bottom:0}
.list-archive .info .header>a>span{display:block;font-size:16px;line-height:18px;margin-bottom:3px}
.list-archive .great+.info>.list{box-shadow:0 -4px 0 #f2cd65,0 4px 0 #f2cd65}
.list-archive .info>.list{background:rgba(23,23,23,.85);margin:0 -25px 10px -40px;padding:10px 20px 10px 40px;max-height:152px;overflow:hidden}
.list-archive .info>.list>li{color:#fff;font-size:14px;line-height:22px}
.list-archive .info>.list>li>span{display:block;overflow:hidden}
.list-archive .info .value{margin-top:0;padding-left:60px}
.list-archive .info .value>*{vertical-align:middle;line-height:30px}
.list-archive .info .value p{margin:0}
.list-archive .info .value strong{font-weight:100}
.list-archive .info .value em{float:none}
.list-archive .info .value em big{font-weight:700;font-size:120%}
.list-archive .info .value .ctrl-btn{position:absolute;bottom:-1px;right:-1px;left:33%;width:auto;margin:0;padding-left:80px}
.list-archive .info .value .ctrl-btn>.btn-investment{padding:5px 12px 0;margin:0;float:left;border-radius:.5em .5em 0 0;-webkit-border-radius:.5em .5em 0 0;box-shadow:none}/*switch thumb*/
.list-archive[class*="grid-thb"]>*>.skin{padding:3px}
.list-archive[class*="grid-thb"] figure,.list-archive[class*="grid-thb"] .info{width:100%;float:none}
.list-archive[class*="grid-thb"] figure{max-height:30vh;overflow:hidden;border:2px solid #fff;box-shadow:0 0 1px #d9d9d9;margin-bottom:10px}
.list-archive[class*="grid-thb"] figure img{padding:0;border:none}
.list-archive[class*="grid-thb"] figure.great:after{left:-10px;top:-10px;bottom:0;margin-left:0;max-width:30%}
.list-archive[class*="grid-thb"] .info{padding:0}
.list-archive[class*="grid-thb"] .info .header{white-space:normal;overflow:visible;font-size:18px;line-height:22px}
.list-archive[class*="grid-thb"] .info .header span{display:inline-block}
.list-archive[class*="grid-thb"] .info>.list{margin:0 -5px 8px -5px;padding:10px;max-height:inherit}
.list-archive[class*="grid-thb"] .info>.list>li>strong,.list-archive[class*="grid-thb"] .info .value strong{min-width:115px}
.list-archive[class*="grid-thb"] .info .value,.list-archive[class*="grid-thb"] .info .value .ctrl-btn{padding-left:0}
.list-archive[class*="grid-thb"] .info .value .ctrl-btn{position:relative;clear:both;left:auto;right:auto;bottom:auto;width:100%}
.list-archive[class*="grid-thb"] .info .value .ctrl-btn>.btn-investment,.list-archive[class*="grid-thb"] .info .value .ctrl-btn>.ui-btn-green-mini{display:block;margin-top:5px;float:none;font-size:13px;line-height:20px;padding:5px}
.list-archive[class*="_chd"][class*="-cl"] .ui-btn-gray2-loadmore{width:100%;clear:both}
.list-archive .info .value .ctrl-btn>.btn-investment{padding:5px 12px 0;margin:0;float:left;border-radius:.5em .5em 0 0;-webkit-border-radius:.5em .5em 0 0;box-shadow:none}/*switch thumb*/
.list-archive[class*="grid-thb"]>*>.skin{padding:3px}
.list-archive[class*="grid-thb"] figure,.list-archive[class*="grid-thb"] .info{width:100%;float:none}
.list-archive[class*="grid-thb"] figure{max-height:30vh;overflow:hidden;border:2px solid #fff;box-shadow:0 0 1px #d9d9d9;margin-bottom:10px}
.list-archive[class*="grid-thb"] figure img{padding:0;border:none}
.list-archive[class*="grid-thb"] figure.great:after{left:-10px;top:-10px;bottom:0;margin-left:0;max-width:30%}
.list-archive[class*="grid-thb"] .info{padding:0}
.list-archive[class*="grid-thb"] .info .header{white-space:normal;overflow:visible;font-size:18px;line-height:22px}
.list-archive[class*="grid-thb"] .info .header span{display:inline-block}
.list-archive[class*="grid-thb"] .info>.list{margin:0 -5px 8px -5px;padding:10px;max-height:inherit}
.list-archive[class*="grid-thb"] .info>.list>li>strong,.list-archive[class*="grid-thb"] .info .value strong{min-width:115px}
.list-archive[class*="grid-thb"] .info .value,.list-archive[class*="grid-thb"] .info .value .ctrl-btn{padding-left:0}
.list-archive[class*="grid-thb"] .info .value .ctrl-btn{position:relative;clear:both}
/*animate*/
.animated,.animate .zoomInDown{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.animate .zoomInDown,.zoomInDown.animated{-webkit-animation-delay:0.01s;animation-delay:0.01s}
@-webkit-keyframes bounceInDown{0%,100%,60%,75%,90%{-webkit-animation-timing-function:cubic-bezier(0.215,.61,.355,1);animation-timing-function:cubic-bezier(0.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,-3000px,0);transform:translate3d(0,-3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0)}75%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}90%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}100%{-webkit-transform:none;transform:none}}
@keyframes bounceInDown{0%,100%,60%,75%,90%{-webkit-animation-timing-function:cubic-bezier(0.215,.61,.355,1);animation-timing-function:cubic-bezier(0.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,-3000px,0);transform:translate3d(0,-3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0)}75%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}90%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}100%{-webkit-transform:none;transform:none}}
.bounceInDown{-webkit-animation-name:bounceInDown;animation-name:bounceInDown;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}

@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}100%{opacity:1;-webkit-transform:none;transform:none}}
@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}100%{opacity:1;-webkit-transform:none;transform:none}}
.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
#sec-sell>.container,#sec-invest>.container{opacity:0}

@-webkit-keyframes zoomInDown{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0);transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0);-webkit-animation-timing-function:cubic-bezier(0.55,.055,.675,.19);animation-timing-function:cubic-bezier(0.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,60px,0);transform:scale3d(.475,.475,.475) translate3d(0,60px,0);-webkit-animation-timing-function:cubic-bezier(0.175,.885,.32,1);animation-timing-function:cubic-bezier(0.175,.885,.32,1)}}
@keyframes zoomInDown{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0);transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0);-webkit-animation-timing-function:cubic-bezier(0.55,.055,.675,.19);animation-timing-function:cubic-bezier(0.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,60px,0);transform:scale3d(.475,.475,.475) translate3d(0,60px,0);-webkit-animation-timing-function:cubic-bezier(0.175,.885,.32,1);animation-timing-function:cubic-bezier(0.175,.885,.32,1)}}
.zoomInDown{-webkit-animation-name:zoomInDown;animation-name:zoomInDown}

/*Login*/
[id="sec-login"] [class*="z-"]>*{width:438px;max-width:100%;margin:0 auto}
[id="sec-login"] [class*="z-"]>.box-mem{margin-top:20px;padding:15px 0}
[id="sec-login"] .z-regis:after{content:"";display:block;position:absolute;left:0;top:20%;height:70%;border-left:1px solid #cacaca}
[id="sec-login"] .z-regis .box-mem{background:#f1f1f1;border:1px solid #e1e1e1;border-radius:.1em;-webkit-border-radius:.1em;padding:15px}
[id="sec-login"] .box-mem form p a,.z-post fieldset a{color:#15a79d}
[id="sec-login"] .box-mem form p label{display:block}
[id="sec-login"] .box-mem form p .txt-box{display:block;width:100%;padding:0 10px}
[id="sec-login"] .box-mem form .ctrl-bn>span{margin-left:10px}
/*member profile*/
#header + #toc.page-member{padding-top:0}
[id="sec-profile"]>aside{background:#212c31}
[id="sec-profile"]>aside>h2,[id="sec-profile"]>aside>nav>h3,[id="sec-profile"]>aside .bar{font:100 21px/35px "HelveThaiCa";color:#149e97;margin:0 0 5px}
[id="sec-profile"]>aside>h2,[id="sec-profile"]>aside>.bar{padding:25px 18px;margin:0;background:#161f23}
[id="sec-profile"]>aside>h2 i[class*="fa-"]{color:#fff;float:right;height:35px;line-height:35px;cursor:pointer}
[id="sec-profile"]>aside>h2>a,[id="sec-profile"]>aside>nav>h3 a,[id="sec-profile"]>aside .bar>a{color:#149e97}
[id="sec-profile"]>aside>h2>a i,[id="sec-profile"]>aside .bar>a i{color:#fff}
[id="sec-profile"]>aside>nav{padding:18px}
[id="sec-profile"]>aside>nav>ul{margin-bottom:40px}
[id="sec-profile"]>aside>nav>ul>li{position:relative;border-bottom:1px solid #313b40}
[id="sec-profile"]>aside>nav>ul>li>a{display:block;color:#fff;font:16px/25px "HelveThaiCa";padding:10px 5px}
[id="sec-profile"]>aside>nav>ul>li>a i[class*="fa-"]{display:inline-block;margin-right:10px}
[id="sec-profile"]>aside>nav>ul>li>a:after{content:"";display:block;position:absolute;top:0;left:-18px;bottom:0;box-shadow:0 0 0 #149e97 inset;width:4px;;transition:.2s all ease;-webkit-transition:.2s all ease}
[id="sec-profile"]>aside>nav>ul>li>a:hover:after,[id="sec-profile"]>aside>nav>ul>li>a.selected:after{box-shadow:4px 0 0 #149e97 inset}
[id="sec-profile"]>aside>nav>ul>li>a em{display:block;position:absolute;top:50%;right:0;margin-top:-8px;width:16px;height:16px;text-align:center;color:#fff;font:10px/16px Arial;background:#1dabb0;border-radius:5em;-webkit-border-radius:5em}
[id="sec-profile"]>aside a:hover{text-decoration:none}
[id="sec-profile"]>.z-profile{background:#fff}
[id="sec-profile"]>.z-profile>h2{position:relative;background:#efefef;padding:25px 30px;font:18px/35px "HelveThaiCa";color:#505050;margin:0}
[id="sec-profile"]>.z-profile>h2:after{content:"";display:block;clear:both}
[id="sec-profile"]>.z-profile>h2 .breadcrumb{display:inline-block;font-size:15px;padding:0;margin:0;line-height:35px;background:none;color:#00b3ad}
[id="sec-profile"]>.z-profile>h2 .breadcrumb>a{color:#636363}
[id="sec-profile"]>.z-profile>h2 .add-post{float:right}
[id="sec-profile"]>.z-profile>h2 .add-post>span{float:left;margin-left:10px}
[id="sec-profile"]>.z-profile>h2 .add-post [class*="ui-btn"]{font-size:16px;line-height:25px;padding:5px 10px;min-width:100px;border-radius:.5em;-webkit-border-radius:.5em}
[id="sec-profile"]>.z-profile>.inner{padding:30px}
.bx-model{position:relative;margin-bottom:30px;border:1px solid #e4e4e4;border-radius:.2em;-webkit-border-radius:.2em}
.sec-acc .bx-model .h-acc{position:relative;background:#15a79d;color:#fff;font:21px/35px "HelveThaiCa";padding:15px 25px;border-radius:.2em .2em 0 0;-webkit-border-radius:.2em .2em 0 0;margin:0}
.sec-acc .bx-model .h-acc i[class*="fa-"]{height:24px;text-align:center;position:absolute;top:50%;right:15px;margin-top:-12px;font-size:21px;font-weight:700}
.sec-acc .pane.bx-body{display:block;border:none;margin:0;padding:0}
.sec-acc .pane .loadmore{clear:both;padding:0}
.sec-acc .pane .loadmore>a{display:block;text-align:center;background:#e4e4e4;color:#505050;font:14px/17px "HelveThaiCa";padding:10px}
.mail-box ul{margin:0}
.mail-box ul>li{position:relative;border-bottom:1px solid #e4e4e4}
.mail-box ul>li:last-child{border-bottom:none}
.mail-box ul>li.hl{background:#f7f7f7}
.mail-box ul>li .wp{position:relative;padding:5px 35px 5px 30px}
.mail-box.full ul>li .wp{padding:5px 70px 5px 30px}
.mail-box ul>li .wp p{margin:0}
.mail-box ul>li a{font:13px/20px tahoma;color:#6c7282}
.mail-box ul>li a:hover{text-decoration:none}
.mail-box ul>li .wp>*{display:inline-block}
.mail-box ul>li a i{display:block;width:15%;max-width:35px;height:40px;line-height:40px;position:absolute;top:5px;left:0;text-align:center;color:#e4e4e4}
.mail-box ul>li .wp i{width:30px;top:0}
.mail-box ul>li.hl a [class="fa-circle"]{color:#59bcc0}
.mail-box ul>li a>[class="fa-reply"],.mail-box ul>li a>[class="fa-close"]{left:auto;right:0}
.mail-box.full ul>li a>[class="fa-reply"]{right:35px}
.mail-box ul>li a>[class="fa-reply"]:hover{color:#ccc}
.mail-box ul>li a>[class="fa-close"]:hover{color:#c00}
.mail-box ul>li a>b{font:15px/20px "HelveThaiCa";color:#333}
.mail-box ul>li a>p{display:block}
.list-table>ol{padding:1px;margin-bottom:0}
.list-table>ol>li{clear:both;border-bottom:1px solid #e8e8e8;padding:8px 0}
.list-table>ol>li:last-child{border-bottom:none}
.list-table>ol>li>ul{display:table;width:100%}
.list-table>ol>li>ul>li{display:table-cell;width:15%;text-align:center;vertical-align:middle;color:#222;font:13px/18px "HelveThaiCa"}
.list-table>ol>li>ul>li:nth-child(1){width:40%;text-align:left}
.list-table>ol>li>ul>li p{margin:0}
.list-table>ol>li>ul>li .imageBased{position:relative}
.list-table>ol>li>ul>li label{display:block!important;color:#15a79d}
.list-table>ol>li>ul>li label a{color:#15a79d}
.list-table>ol>li>ul>li label a img{float:left;max-height:40px;margin-right:10px}
.list-table>ol>li.th>ul>li label,.list-table>ol>li.th>ul>li label a{color:#222;text-align:center}
.list-table .imageBased input[type="checkbox"]:not(old) + label::before,.list-table .imageBased input[type="radio"]:not(old) + label::before{top:50%;margin-top:-12px}
.list-table>ol>li>ul>li i[class*="fa-"]{display:inline-block;margin:0 5px;color:#f2ae34;font-size:16px}
.list-table>ol>li>ul>li i[class*="fa-close"]{color:#dc0729}
/*sell*/
.z-post fieldset>*:after{content:"";display:block;clear:both}
.z-post fieldset>*{margin-bottom:10px}
.z-post fieldset>* p{margin:0}
.z-post fieldset label{display:block;color:#4d4d4d}
.z-post fieldset .imageBased label{margin-top:3px}
.z-post fieldset .txt-box{width:100%;padding:0 10px}
.z-post fieldset .txt-box,.z-post fieldset .select-box,.z-post fieldset .txt-area{border-color:#cacaca}
.z-post fieldset .txt-box.inline{display:inline-block;width:220px;max-width:100%}
.z-post fieldset .cv-select,.z-post fieldset .cv-select .select-box{width:100%}
.z-post fieldset .cv-select .select-box{padding:1px 20px 1px 10px}
/*member sell*/
.wp-step{position:relative;background:#f9f9f9;padding:10px;text-align:center}
.wp-step>*{position:relative;display:inline-block;width:25%;margin:0 -3px;padding:15px 0;vertical-align:top;color:#646464}
.wp-step>*>a:hover{text-decoration:none;color:#646464}
.wp-step>*>a *{display:block}
.wp-step>* b:before{content:"";display:block;position:absolute;top:50%;left:0;right:0;height:8px;background:#d4d4d4;margin-top:-3px;z-index:1}
.wp-step>*.step1 b:before{left:50%}
.wp-step>*.step3 b:before{right:50%}
.wp-step>*.active b:before{background:#fae9a4}
.wp-step>* b:after{position:relative;content:"";display:block;margin:10px auto;width:30px;height:30px;background:50% 50% #d4d4d4 no-repeat;border-radius:5em;-webkit-border-radius:5em;z-index:2}
.wp-step>*.active b:after{background-image:url(../img/point-step.png) }
.wp-step>* small{font-size:13px/18px "HelveThaiCa"}
.page-member .idTabs{background:#d4d4d4}
.page-member .idTabs>li{padding:0}
.page-member .idTabs>li>a{display:block;color:#fff;font-size:19px;line-height:30px;padding:9px 10px;text-align:center}
.page-member .idTabs>li>a>i{color:#d4d4d4;font-size:24px}
.page-member .idTabs>li>a.selected{background:#00b3ad}
.page-member .idTabs>li>a.selected>i{color:#01fa00}
.z-post .contentTab{padding:10px 30px}
.z-post fieldset label small{color:#bcbcbc}
.z-post fieldset .txt-box[type="file"]{padding:0;line-height:27px}
.page-member .z-post .bx-tab>div{margin-bottom:15px}
.page-member .z-post .list-pic img{max-width:100%;display:block;margin:0 auto;max-height:147px;border:3px solid #d5d5d5}
/*pagination*/
.pagination{margin:0 auto}
[class*="pagination"] > li>*,[class*="pagination"] > li>a{border:1px solid #dfdfdf;margin:0 3px;border-radius:3px;-webkit-border-radius:3px}
[class*="pagination"] > li>span,[class*="pagination"] > li>a.active,[class*="pagination"] > li>span:hover{background:#00b3ad;color:#fff;border-color:#00b3ad}
[class*="pagination"] > li:first-child > a, [class*="pagination"] > li:first-child > *,[class*="pagination"] > li:last-child > a, [class*="pagination"] > li:last-child > *{border:none}
/*footer*/
#footer{padding:20px 0 0;background:#252525;color:#838383;text-align:center}
#footer>.container{padding-left:0;padding-right:0}
#footer>.container a:hover{color:#139e97}
#footer>.container>*{margin-bottom:10px}
#footer>.containe .lg-footer img{max-width:100%;display:block;margin:0 auto}
.sub form legend{border:none;color:#838383;font:700 13px/20px "HelveThaiCa";margin-bottom:8px}
.sub form .txt-box{display:inline-block;vertical-align:middle;width:40%;min-width:200px;background:#393939;padding:0 10px;line-height:30px;color:#fff;border:none;border-radius:.2em 0 0 .2em;-webkit-border-radius:.2em 0 0 .2em}
.sub form .btn{display:inline-block;vertical-align:middle;padding:0 10px;border:none;margin-left:-3px;font:700 14px/30px "HelveThaiCa";background:#139e97;color:#fff;border-radius:.2em;-webkit-border-radius:.2em}
.follow{position:relative;margin-bottom:10px}
#footer .contact>a{display:inline-block;margin:0 10px}
#footer .contact>a *{vertical-align:middle}
#footer .contact>a i{font-size:21px;color:#139e97;margin-right:3px}
.follow>b{display:none}
.follow>ul>li{padding-right:0}
.follow>ul>li>a{position:relative;display:block;width:24px;height:24px;text-indent:-9999px}
.follow>ul>li>a>i{display:block;position:absolute;top:0;left:0;right:0;bottom:0;text-align:center;text-indent:0;font-size:16px;line-height:24px;color:#fff;background:#404040;border-radius:5em;-webkit-border-radius:5em}
.follow>ul>li>a.fb:hover>i{background:#5C7BB2}
.follow>ul>li>a.tw:hover>i{background:#00C2F2}
.follow>ul>li>a.yt:hover>i{background:#CC181E}
.follow>ul>li>a.gg:hover>i{background:#E76D5A}
#footer .cright{clear:both;text-align:center;margin:0;padding:10px 0;background:#1c1c1c;color:#fff}
body [id="back2top"]{background:#16b1ad;color:#fff;box-shadow:0 2px 2px rgba(0,0,0,0.3);opacity:1}
body [id="back2top"]:before{font-size:24px}
#exposeMask+img,img[src="non"]{display:none}
/*Lightbox*/
body.lb{background:#fff;padding:0}
.lb #header,.lb #footer{display:none}
.lb #toc{padding:0!important}
.lb .list-archive>*{margin-bottom:0}
/*responsive*/
@media (min-width:1024px){[id^="sec-"] .list-work>li>a:hover>i{transform:translateY(-10px);-webkit-transform:translateY(-10px)}
.list-archive[class*="grid-thb"]>*:nth-child(3n+1){clear:left}
}
@media (min-width:992px) and (max-width:1179px){.z-profile .value .ctrl-btn>.btn-investment{font-size:14px}
}
@media (min-width:768px) and (max-width:1024px){[id="sec-contact"] .img-map{max-width:95%}
[id="sec-contact"] .img-map img{left:-25%}
[id="sec-contact"] .img-map address{bottom:0;left:auto;padding:10px;right:5px;top:auto}
}
@media (max-width:991px){.list-archive[class*="grid-thb"]>*:nth-child(2n+1){clear:left}
}
@media (min-width:768px) and (max-width:800px){.list-archive[class*="grid-thb"] figure{max-height:200px}}
@media (max-width:800px){#header>.container{max-width:100%;width:auto}
body #toc.container{padding-left:5px;padding-right:5px}
[class*="home"] [id="sec-register"]>.container:first-child{min-height:inherit}
[class*="home"] [id="sec-sell"]>.container:first-child, [class*="home"] [id="sec-invest"]>.container:first-child{padding:5.5vh 0}
.point-gps>[class*="btn"][class*="-default"]{font-size:18px}
.list-archive>*>.skin{padding:10px}
.list-archive .info .header{font-size:18px;height:46px;line-height:23px;overflow:hidden;text-overflow:ellipsis}
.list-archive .info .header>a>span{display:inline-block}
.list-archive .info>.list>li{font-size:13px}
.list-archive .info .value .ctrl-btn>.ui-btn-green-mini{font-size:14px;min-width:inherit;padding-left:10px;padding-right:10px}
.list-archive .info .value .ctrl-btn>.btn-investment{font-size:14px;line-height:30px}
.z-post fieldset .txt-box.inline{width:100px}
[id="sec-profile"]>.z-profile>.inner{padding:10px}
[id="sec-profile"]>.z-profile>h2{padding:10px;font-size:16px}
[id="sec-profile"] > .z-profile > h2 .add-post [class*="ui-btn"]{font-size:14px}
.z-post .contentTab{padding:10px}
[id="sec-profile"]>aside>nav{display:none}
}
@media (max-width:768px){body{padding-top:40px}
#header>.container{padding-bottom:0}
#footer .cright{padding:10px 0}
body.home>#toc .row, .form-signin .row{margin-left:0;margin-right:0}
[id="sec-register"]{padding-top:40px}
.page-detail{background:#fff none repeat scroll 0 0}
#header + #toc{padding-top:0}
[class*="top-nav"]>ul>li #btn-profile{margin-top:0}
[id="navigation"] [id="nav-drop"] li ul li a{list-style-type:none;color:#fff;text-indent:0;border:none}
[class*="top-nav"]>ul>li ul>li>a em{background:#e1e1e1;color:#666;right:10px}
}
@media (max-width:767px){[class*="row"]{margin-left:0;margin-right:0}
#header+#toc.page-member{padding-left:0;padding-right:0}
.z-post fieldset>*>[class*="row"],.page-member .sec-acc [class*="row"]{margin-left:-10px;margin-right:-10px}
[id^="sec"] .head{font-size:24px;line-height:28px}
[id^="sec"] .head:after{margin-left:-35px;width:70px}
[id="sec-sell"], [id="sec-invest"]{background-size:cover !important;padding:15vh 0}
[class^="ic-work"]{background-size:100% auto;border-width:3px;height:100px;width:100px}
[id^="sec-"] .list-work>li:nth-child(2n+1){clear:left}
[id="sec-infomation"] .list-work>li:after{margin-right:-10px;width:30px;background-size:100% auto}
[class*="topic"]{font-size:24px;line-height:30px}
[class*="header"],.sec-acc .pane>ul>li h3{font-size:18px;line-height:25px}
.value .ctrl-btn>.btn-investment{font-size:14px}
h-acc>span, .h-fix>span{display:inline;font-size:14px}
.sec-acc .pane{margin-top:15px;padding:20px 5px 0}
.sec-acc>li{padding:15px 0}
.AC3, .h-acc,.h-fix{font-size:18px;line-height:20px}
.AC3>i[class*="fa-chevron"], .h-acc>i[class*="fa-chevron"], .h-fix>i[class*="fa-chevron"]{border-width:2px;font-size:16px;height:24px;line-height:20px;margin-top:-12px;width:24px}
.list-detail .box-line{padding:0 10px}
.point-gps>[class*="btn"][class*="-default"]{border-radius:0;clear:none;display:block;float:left !important;margin:0;width:50%}
.point-gps>.hd[class*="btn"][class*="-default"]{width:100%}
.sort-bar{clear:both;margin:-10px 0 10px;position:relative;right:auto;text-align:right;top:auto;white-space:nowrap}
.sort-bar>.sort>select{width:auto}
.list-archive .info{padding:0 0 30px 10px}
.list-archive .info .header{height:auto}
.list-archive[class*="grid-thb"] figure{min-height:180px}
.list-archive figure.great:after{bottom:0;left:-10px;margin-left:0;max-width:15%;top:-10px}
.list-archive .info>.list{margin:0 -15px 8px -30px;padding:10px 10px 10px 30px}
.list-archive .info>.list>li>strong, .list-archive .info .value strong{min-width:115px}
.list-archive .info .value, .list-archive .info .value .ctrl-btn{padding-left:0}
.sec-acc .pane .list-bullet{padding-left:30px}
.sec-acc .pane .list-bullet>li{font-size:14px;line-height:22px}
.bx-model{margin-bottom:20px}
[id="sec-profile"]>aside>nav{display:none}
.list-table>ol>li>ul{display:block}
.list-table>ol>li>ul>li{text-align:left}
.list-table>ol>li.th>ul>li label{text-align:left;color:#15a79d}
.list-table>ol>li>ul>li:nth-child(1){display:block;width:100%}
.list-table>ol>li>ul>li:nth-child(2){padding-left:30px}
}
@media (min-width:480px) and (max-width:568px){.list-archive .info .value .ctrl-btn>.btn-investment, .list-archive .info .value .ctrl-btn>.ui-btn-green-mini, .list-archive[class*="grid-thb"] .info .value .ctrl-btn>.btn-investment, .list-archive[class*="grid-thb"] .info .value .ctrl-btn>.ui-btn-green-mini{font-size:12px}
}
@media (max-width:414px){[id="sec-register"] h2{font-size:4.2vmax}
[id="sec-register"] h2 big{font-size:6vmax}
[id^="sec"] .title{line-height:20px}
[id^="sec"] .title br{display:none}
[id^="sec-"] .list-work>li{margin-bottom:20px}
[id^="sec-"] .list-work>li:nth-last-child(1), [id^="sec-"] .list-work>li:nth-last-child(2){margin-bottom:0}
[id^="sec-"] .list-work>li>a>h3{font-size:16px;margin-bottom:5px;white-space:nowrap}
[id^="sec-"] .list-work>li>a>p{font-size:13px;line-height:20px}
[id="sec-contact"] .img-map img{margin-left:-50%;max-width:200%;min-height:150px}
[id="sec-contact"] .img-map address{background:#fcfcfc none repeat scroll 0 0;bottom:auto;color:#666;left:auto;padding:10px;position:relative;top:auto}
[id="sec-contact"] .img-map address a{color:#666}
.main-info .gallery{margin-bottom:20px}
.main-info .info{font-size:14px}
.main-info .info .list>li{margin-bottom:15px}
.main-info .info .list>li>strong{display:block;float:none}
.value .ctrl-btn>.btn-investment{padding:10px}
.sort-layout{display:none}
.list-archive>*>.skin{padding:3px}
.list-archive figure, .list-archive .info{float:none;width:100%}
.list-archive figure{border:2px solid #fff;box-shadow:0 0 1px #d9d9d9;margin-bottom:10px;max-height:30vh;overflow:hidden}
.list-archive figure img{border:medium none;padding:0}
.list-archive figure.great:after{max-width:30%}
.list-archive .info{padding:0}
.list-archive .info .header{overflow:visible;white-space:normal}
.list-archive .info>.list{margin:0 -5px 8px;max-height:inherit;padding:10px}
.list-archive .info .value .ctrl-btn{bottom:auto;clear:both;left:auto;position:relative;right:auto;width:100%}
.list-archive .info .value .ctrl-btn>.btn-investment, .list-archive .info .value .ctrl-btn>.ui-btn-green-mini{display:block;float:none;font-size:13px;line-height:20px;margin-top:5px;padding:5px}
.before-name .imageBased>span{display:block;clear:both}
#sec-sell-post .ctrl-bn>[class*="ui-btn"]{min-width:120px;padding:5px 10px;font-size:16px}
.wp-step > *{width:34%}
.page-member .idTabs > li > a{font-size:14px}
.page-member .idTabs > li > a.selected > i{font-size:16px}
.z-post fieldset ._self-cl-xs-12-sm-07-md-08-pr0{margin-bottom:10px}
}
@media (max-width:375px){}
@media (max-width:360px){.sort-bar>.sort>*, .sort-bar>.sort-layout>span{font-size:12px}}
@media (max-width:320px) {[id^="sec-"] .list-work>li{padding:0}}